# Build
bin/
obj/
artifacts/
dist/
aspire-output/
aspire.config.json
.aspire/

# Node
node_modules/

# IDE
.vs/
.vscode/
.idea/

# OS
Thumbs.db
Desktop.ini

# Logs
*.log

# Secrets
*.secrets.json
appsettings.*.local.json
